.tipo-producto{
    border: none;
    font-size: 20px;
    background-color: var(--bgc-tema);
    color: var(--texto-tema);
    cursor: pointer;
}

.tipo-producto:hover{
    background-color: inherit;
    color: inherit;
}

.tipo-producto::after{
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: currentColor;
    opacity: 0;
    transition: 0.3s ease-out;
    margin: 0 auto;
}

.tipo-producto.aparecer::after{
    opacity: 1;
    width: 100%;
}



ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;            
    width: 100%;
}

#contenedor-productos {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;

}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    background-color: var(--bgc-elemento-body);
    list-style: none;
    border-radius: 16px;
    border: 2px solid var(--borde-elemento-body);
    width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    height: 420px;
}

.producto:has(button:active) {
    transform: scale(1.03);
}

.producto button:active {
    transform: scale(1);
}

.producto img{
    width: 100%;
    object-fit: contain;
    height: 180px;
}

.producto h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--texto-tema-body);
    margin: 20px 0 5px 0;
}

.precio-producto {
    font-size: 16px;
    font-weight: 500;
    color: var(--texto-tema-body); /* era #383838 */
    margin-bottom: 15px;
}

.producto img, .producto h3, .precio-producto, .producto button{
    margin-top: 23px;
}