@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --bgc-tema-body: #F5F5F7;
    --texto-tema-body: #101010;
    --bgc-elemento-body: #fff;
    --borde-elemento-body: #c0c0c2;
    --color1-header: #6cc0f5;
    --color2-header: #cfedff;
    --bgc-hover: var(--texto-tema-body);
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

main {
    margin: 5%;
    text-align: center;
}

body {
    margin: 0;
    background-color: var(--bgc-tema-body);
    color: var(--texto-tema-body);
    transition: background-color 0.3s, color 0.3s;
}

body.modo-oscuro{
    --bgc-tema-body: #101010;
    --texto-tema-body: #fff;
    --bgc-elemento-body: #2B2B2D;
    --borde-elemento-body: #414144;
    --color1-header: #01253b;
    --color2-header: #3f6f8d;
    --bgc-hover: var(--texto-tema-body);
}
.instantaneo{
    transition: background-color 0s;
}

header {
    position: relative;
    display: flex;
    background-color: var(--color1-header);
    color: var(--color2-header);
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
}

#logo-y-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}

#logo {
    height: 40px;
    width: auto;
    /* border: 1px solid purple; */
}

h4 {
    font-size: 25px;
    margin: 10px;
    /* border: 1px solid blue;  */
} 

a,
a:active,
a:link {
    text-decoration: none;
    /* color: inherit; */
}

button {
    height: 36px;
    padding: 0 10px;
    border: 1px solid var(--borde-elemento-body);
    border-radius: 10px;
    background-color: var(--bgc-elemento-body);
    color: var(--texto-tema-body);
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.2s ease;
    transition: transform 0s;

}

button:hover {
    background-color: var(--bgc-hover); 
    color: var(--bgc-tema-body);
    border-color: var(--borde-elemento-body);
}

button:active {
    transform: scale(1.2);
}

input {
    border-radius: 16px;
    padding: 5px;
    border: 2px solid var(--color2-header);
}
/*************************************************************/
/* Header general */
/*************************************************************/


#nombre-alumnos {
    position: absolute;
    pointer-events: none;
    left: 0;
    width: 100%;
    text-align: center;
    /* top: 22px; /* era 39px antes */ 
    margin: 0;
    /* border: 1px solid pink; */
}

.elemento-header {
    display: inline-block;
    border-radius: 16px;
    padding: 5px;
    background-color: var(--color2-header);
    color: var(--color1-header);
    width: auto;
}

#menu-derecha {
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    margin-left: auto;
    gap: 15px;
}

/*************************************************************/
/* Productos JS */
/*************************************************************/

#cambiar-tema{
    position: fixed;    /* Lo saca del flujo normal y lo fija en la pantalla */
    bottom: 20px;       /* Separación de 20px desde abajo */
    left: 20px;
}