/*************************************************************/
/* Layout base */
/*************************************************************/


:root{
    --bgc-tema: #F5F5F7;
    --texto-tema: #000;
    
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--bgc-tema);
    color: var(--texto-tema);
    transition: background-color 0.3s, color 0.3s;
}
body.modo-oscuro{
    --bgc-tema: #121212;
    --texto-tema: #fff;
}
.instantaneo{
    transition: background-color 0s;
}

header {
    display: flex;
    background-color: #434344;
    color: white;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
    
}

#logo-y-nombre {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    gap: 15px;
}

#logo {
    height: 40px;
    width: auto;
    /* border: 1px solid purple; */
}

h4,
nav {
    position: relative;
    top: 18px;
}

a,
a:active,
a:link {
    text-decoration: none;
    color: white;
}

main {
    margin: 15%;
    text-align: center;
}


/*************************************************************/
/* Header general */
/*************************************************************/


#menu-medio {
    display: flex;
    margin: 0 auto 0 auto;
    position: relative;
    top: 18px;
}

#menu-derecha {
    display: flex;
    /* border: 1px solid green; */
    margin-left: auto;
}

#menu-izquierda button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}


/*************************************************************/
/* Productos JS */
/*************************************************************/

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 20px;            
    width: 100%;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: center;
    gap: 20px;

}

.producto {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    margin-bottom: 50px;
}

.producto img{
    width: 100%;
    
}


#cambiar-tema{
    position: fixed;    /* Lo saca del flujo normal y lo fija en la pantalla */
    bottom: 20px;       /* Separación de 20px desde abajo */
    left: 20px;
}